

@{
    ViewData["Title"] = "Facts";
}

<h1 class="mb-4">
    Facts
</h1>

<ol>
    <li class="my-2" style="font-size: 1.2rem;">
        Artificial Trans Fats Are Unsuitable for Human Consumption
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        You Don’t Need to Eat Every 2–3 Hours
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Meat Doesn’t Rot in Your Colon
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Eggs Are One of the Healthiest Foods You Can Eat
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Sugary Drinks Are the Most Fattening Product in the Modern Diet
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Low-Fat Doesn’t Mean Healthy
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Fruit Juice Isn’t That Different From Sugary Soft Drinks
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Weight Loss Supplements Rarely Work
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Health Is About More Than Your Weight
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Calories Count — But You Don’t Necessarily Need to Count Them
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Neither Fat nor Carbs Make You Fat
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Junk Food Can Be Addictive
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Certain Vegetable Oils Should Be Avoided
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        ‘Organic’ or ‘Gluten-Free’ Doesn’t Mean Healthy
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Vitamin D is an essential part of your health.
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        The human body depends on fats for body heat.
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Supplements cannot provide the full benefits that real foods provide.
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Vegetables are your body’s best friend.
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Breakfast is the most important meal of the day.
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        Avocados have more fat than any other fruit.
    </li>
    <li class="my-2" style="font-size: 1.2rem;">
        The skin of apple contains most of its nutrients.
    </li>
</ol>